<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<add key="IntervalInSecondsForGetNewProducts" value="3" />
		<add key="IntervalInSecondsForPublishProductUpdates" value="5" />
		<!-- Visma Global Settings -->
		<add key="VismaBapiKey" value="59618988851856124" />
		<add key="VismaClientName" value="Luthman AB" />
		<add key="VismaUserName" value="" />
		<add key="VismaPassword" value="" />
		<!-- END Visma Global Settings -->
		<add key="TimeStampFormat" value="yyyy-MM-dd HH:mm:ss.sss"/>
		<!-- Settings for interaction with the PIM API  -->
		<add key="MaximumNumberOfRetries" value="5"/>
		<add key="MillisecondsBetweenRetries" value="2000"/>
		<!-- END Settings for interaction with the PIM API  -->
	</appSettings>
	<connectionStrings>
		<add name="SQLite" connectionString="Data Source=Database/PimIntegrationDb.s3db"/>
	</connectionStrings>

	<log4net configSource="log4net.config" />
</configuration>
