@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
			  
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<title>PIM Integration @Model.Title</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/pim.css?v1.0" />
		<script src="js/libs/jquery-2.0.0.min.js"></script>
		@RenderSection("HeadScripts", required: false)
	</head>
	<body>
		<div id="top-bar">
			<div id="nav-wrapper">
				<nav>
					<ul id="main-menu">
						<li><a href="/">Dashboard</a></li>
						<li><a href="trial">Trial</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div id="site-content">
			@RenderBody()
		</div>
	</body>
</html>