@using System

<h2>Get Articles For Price Update</h2>
<form class="form-inline">
	<label class="control-label" for="txtTimestamp">Since</label>
	<input type="text" id="txtTimestamp" class="now" />
	<button id="btnGetArticlesForPriceUpdate" class="btn btn-success">GET</button>
</form>