<h2>Get Product By SKU</h2>
<form class="form-inline">
	<label class="control-label" for="txtSku">SKU</label>
	<input type="text" id="txtSku" />
	<button id="btnGetProductBySku" class="btn btn-success">GET</button>
</form>