<h2>GetProductByDate</h2>
<form class="form-inline">
	<label class="control-label" for="txtTimestamp">Since</label>
	<input type="text" id="txtTimestamp" class="now" />
	<button id="btnGetProductByDate" class="btn btn-success">GET</button>
</form>