@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<h2>@Model.Title</h2>
<form class="form-inline">
	<label class="control-label" for="txtTimestamp">Since</label>
	<input type="text" id="txtTimestamp" class="now" />
	<button id="btnSinceAction" class="btn btn-success" data-url="@Model.ActionUrl" data-method="@Model.Method">@Model.Method</button>
</form>