<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IntervalInSecondsForGetNewProducts" value="3" />
		<add key="IntervalInSecondsForPublishStockBalanceUpdates" value="5" />
		<add key="IntervalInSecondsForPublishPriceUpdates" value="300" />
		<!-- Visma Global Settings -->
		<add key="VismaBapiKey" value="59618988851856124" />
		<add key="VismaClientName" value="Luthman AB" />
		<add key="VismaUserName" value="" />
		<add key="VismaPassword" value="" />
		<add key="VismaPostingTemplateNo" value="2" />
		<add key="VismaPriceCalcMethodsNo" value="2" />
		<add key="VismaStockProfileNo" value="2" />
		<add key="VismaDbSchema" value="LuthmanAB"/>
		<!-- CustomerNo for used to calculate prices for different markets -->
		<add key="CustomerNoDenmark" value="10003"/>
		<add key="CustomerNoNorway" value="10004"/>
		<add key="CustomerNoSweden" value="10005"/>
		<!-- END Visma Global Settings -->
		<add key="TimeStampFormat" value="yyyy-MM-dd HH:mm:ss.fff"/>
		<!-- Settings for interaction with the PIM API  -->
		<add key="MaximumNumberOfRetries" value="5"/>
		<add key="MillisecondsBetweenRetries" value="2000"/>
		<!-- Market settings -->
		<add key="MarketKeyDenmark" value="4sound.dk"/>
		<add key="VendorIdDenmark" value="9863084" />
		<add key="MarketKeyNorway" value="4sound.no"/>
		<add key="VendorIdNorway" value="62" />
		<add key="MarketKeySweden" value="4sound.se"/>
		<add key="VendorIdSweden" value="62"/>
		<!-- END Settings for interaction with the PIM API  -->
	</appSettings>
	<connectionStrings>
		<add name="SQLite" connectionString="Data Source=Database/PimIntegrationDb.s3db"/>
		<add name="VismaDb" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=LuthmanABGLOBALData;Persist Security Info=True;User ID=PimIntegration;Password=***" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IQueueOf_ProductQueryRequest_ProductQueryResponse" />
				<binding name="BasicHttpBinding_IQueueOf_ProductUpdateRequest_ProductUpdateResponse" />
				<binding name="BasicHttpBinding_IQueueOf_ProductQueryRequestArray_ProductQueryResponse" />
				<binding name="BasicHttpBinding_IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.28.8.12:8050/ProductQueryService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductQueryRequest_ProductQueryResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductQueryRequest_ProductQueryResponse"
                name="BasicHttpBinding_IQueueOf_ProductQueryRequest_ProductQueryResponse" />
			<endpoint address="http://10.28.8.12:8050/ProductUpdateService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductUpdateRequest_ProductUpdateResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductUpdateRequest_ProductUpdateResponse"
                name="BasicHttpBinding_IQueueOf_ProductUpdateRequest_ProductUpdateResponse" />
			<endpoint address="http://10.28.8.12:8050/ProductQueryArrayService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductQueryRequestArray_ProductQueryResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductQueryRequestArray_ProductQueryResponse"
                name="BasicHttpBinding_IQueueOf_ProductQueryRequestArray_ProductQueryResponse" />
			<endpoint address="http://10.28.8.12:8050/ProductUpdateArrayService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse"
                name="BasicHttpBinding_IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse" />
		</client>
	</system.serviceModel>
</configuration>
