@{
    Layout = "shared/_Layout.cshtml";
}

<nav>
	<ul>
		<li><a href="devtools">devtools</a></li>
	</ul>
</nav>
<h1>Dashboard</h1>
<form action="trial" method="POST">
	<button type="submit">Trial</button>
</form>