@{
    Layout = "shared/_Layout.cshtml";
}

@section HeadScripts {
	<link rel="stylesheet" href="/css/jquery.treeview/jquery.treeview.css"/>
	<script src="/js/libs/jsontree.min.js"></script> 
	<script src="/js/libs/jquery.treeview.js"></script> 
	<script src="/js/libs/moment.min.js"></script> 
	<script src="/js/pim.devtools.js?v1.0"></script> 
}

<h1>Trial</h1>
<div id="devtool-options">
	<h2>New Products</h2>
	<ul>
		<li><a href="/devtools/form/getproductbydatedummy">GetProductByDateDummy</a></li>
		<li><a href="/devtools/form/getproductbydate">GetProductByDate</a></li>
		<li><a href="/devtools/form/getnewproductstask">GetNewProductsTask</a></li>
	</ul>

	<h2>Stock Balance Updates</h2>
	<ul>
		<li><a href="/devtools/form/forstockbalanceupdate">GetArticlesForStockBalanceUpdate</a></li>
		<li><a href="/devtools/form/publishstockbalanceupdatestask">PublishStockBalanceUpdatesTask</a></li>
	</ul>
	
	<h2>Price Updates</h2>
	<ul>
		<li><a href="/devtools/form/forpriceupdate">GetArticlesForPriceUpdate</a></li>
	</ul>
</div>
<div id="main">
	<div id="form-wrapper"></div>
	<div id="response"></div>
</div>