<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQueueOf_ProductQueryRequest_ProductQueryResponse" />
                <binding name="BasicHttpBinding_IQueueOf_ProductUpdateRequest_ProductUpdateResponse" />
                <binding name="BasicHttpBinding_IQueueOf_ProductQueryRequestArray_ProductQueryResponse" />
                <binding name="BasicHttpBinding_IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.28.8.12:8050/ProductQueryService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductQueryRequest_ProductQueryResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductQueryRequest_ProductQueryResponse"
                name="BasicHttpBinding_IQueueOf_ProductQueryRequest_ProductQueryResponse" />
            <endpoint address="http://10.28.8.12:8050/ProductUpdateService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductUpdateRequest_ProductUpdateResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductUpdateRequest_ProductUpdateResponse"
                name="BasicHttpBinding_IQueueOf_ProductUpdateRequest_ProductUpdateResponse" />
            <endpoint address="http://10.28.8.12:8050/ProductQueryArrayService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductQueryRequestArray_ProductQueryResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductQueryRequestArray_ProductQueryResponse"
                name="BasicHttpBinding_IQueueOf_ProductQueryRequestArray_ProductQueryResponse" />
            <endpoint address="http://10.28.8.12:8050/ProductUpdateArrayService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse"
                contract="PIMServiceEndpoint.IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse"
                name="BasicHttpBinding_IQueueOf_ProductUpdateRequestArray_ProductUpdateResponse" />
        </client>
    </system.serviceModel>
</configuration>